<?php
/*
	Copyright 2008 Christopher P Carey (http://chriscarey.com)
	This program is distributed under the terms of the GNU General Public License
	
	This file is part of Asterisk Voicemail for iPhone.

    Asterisk Voicemail for iPhone is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Asterisk Voicemail for iPhone is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Asterisk Voicemail for iPhone.
	If not, see <http://www.gnu.org/licenses/>.
*/

//================================================================================
// General Settings
//================================================================================

// Turn on extra debugging (for developers)
$g_debug = false;

// Check for updates and notify the user if one is available
$g_check_for_updates = true;

// The URL to your iphone web app	
$g_app_root = "http://127.0.0.1/iphone/";

// Add a default prefix if they only provide 7 digits for login
// This really only makes sense if you are have 10 digit mailbox numbers
$g_default_prefix = "801";

// The filesystem path where the voicemail folders are found
$g_voicemail_context_path = "/var/spool/asterisk/voicemail/default/";

// A secret code to help randomize the crypto. Just set it to some random word...
$g_secret_salt = "cat";

//================================================================================
// Authentication Settings
//================================================================================

// true for MySQL, false to use voicemail.conf
$g_use_database = false;

// Database Settings for authentication.
$g_db_host = "localhost";
$g_db_name = "asterisk";
$g_db_user = "root";
$g_db_pass = "";

// Where can I find your voicemail.conf?
$g_voicemail_conf_path = "/etc/asterisk/voicemail.conf";

//================================================================================
// Smarty Settings
//================================================================================

// Smarty: Where on your filesystem is the smarty class file
$g_smarty_class = "/usr/local/lib/php/Smarty/";

// Smarty: Where on your filesystem is the smarty templates
$g_smarty_folder = "/var/www/smarty/";

// Smarty: this is the folder under smarty/templates where you have the tpl files
$g_smarty_template_folder = "iphone/"; 

?>